html {
  font-family: "Courier New", Courier, monospace;
}

body {
  padding: 24px;
  background-color: #1e1e1e;
  color: #ccc;
}

h2,
h3,
h4 {
  text-align: center;
  text-transform: uppercase;
}

content {
  text-align: justify;
}

ul {
  padding: 0;
}

li {
  margin-bottom: 8px;
}

header,
footer {
  position: fixed;
  height: 24px;
  line-height: 24px;
  width: 100%;
  left: 0;
  text-align: center;
  background: white;
  color: black;
}

header {
  border-bottom: solid 1px;
  top: 0;
}

footer {
  border-top: solid 1px;
  bottom: 0;
}
